@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @tailwind base;
@tailwind components;
@tailwind utilities;



.auditionform{
    border: 1px solid black;
}


body{
    background-image: url("/bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h3{
  @apply md:text-4xl text-3xl font-bold
}

h4{
  @apply md:text-4xl text-2xl font-bold
}


button{
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-2xl text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800
}