@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @tailwind base;
@tailwind components;
@tailwind utilities;



.auditionform{
    border: 1px solid black;
}


body{
    background-image: url("/bg-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


h3{
  @apply md:text-4xl text-2xl font-bold
}